.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin: 92px 24px 96px;
  padding: 0 26px;
}

.header .menu {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.menu-link {
  font-size: 18px;
  font-weight: 400;
}

.menu_active_item {
  list-style: none;
}

.none_decoration_link {
  text-decoration: none;
}

.header_logo {
  /* position: absolute; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.header_logo-image {
  display: block;
  height: 105px;
  width: 148px;
}

.contacts {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 136%;
  max-width: 240px;
}

.contacts_link {
  display: block;
}

.cover {
  display: block;
  position: relative;
  padding: 165px 50px 52px;
  /* height: 757px; */
  /* background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(/images/cover.jpg); */
  background-image: url(/images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.title_block {
  display: block;
  /* width: 1000px; */
  margin-bottom: 128px;
}

.title_item {
  display: block;
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  line-height: 115%;
  text-transform: uppercase;
}

.title_item-left {
  text-align: left;
}

.title_item-center {
  margin-top: 12px;
  text-align: center;
}

.title_item-right {
  text-align: right;
  margin-top: 5px;
  margin-right: -30px; /*прижать крайнее слово к границе*/
}

.letter-spacing-middle {
  letter-spacing: 30px;
}

.letter-spacing-big {
  letter-spacing: 60px;
}

.cover_footer {
  display: flex;
  padding-left: 28px;
  justify-content: space-between;
  align-items: center;
}

.cover_footer-subtitle {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 127%;
  text-transform: uppercase;
}

.word-spacing-big {
  word-spacing: 20px;
}

.word-spacing-less {
  word-spacing: 18px;
}

.button-bet {
  border-color: #fff;
  border-style: solid;
  color: #fff;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0);
  width: 255px;
  height: 50px;
  font-size: 22px;
  font-weight: 500;
}

.lots {
  margin: 179px 24px 146px;
}

.lots_header {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 40px;
}

.cards_block {
  display: flex;
  flex-wrap: wrap;
  margin: 27px 0 30px;
  gap: 25px;
}

.cards_block-item {
  width: 334px;
  flex-grow: 1;
}

.card {
  z-index: -2;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  height: 563px;
  padding: 51px 40px 48px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
}

.card-film {
  background-image: url(/images/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-book {
  background-image: url(/images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-picture {
  background-image: url(/images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.card-describe {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

.lots-link {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  text-transform: lowercase;
  margin-left: 40px;
}

.about {
  padding: 0 24px;
  color: #000;
  display: grid;
  grid-template-columns: 360px 1fr;
  grid-template-rows: 283px 312px;
  grid-template-areas:
    "logo title"
    ". description";
}

.about_logo {
  display: flex;
  grid-area: logo;
  background: radial-gradient(circle at calc(50% - 13px) calc(50% + 13px), black 50%, transparent 50%);
}

.about_logo-image {
  display: block;
  width: 145px;
  height: 115px;
  margin: calc(25% + 8px) 0 0 calc(25% + 5px);
}

.about_title {
  grid-area: title;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  justify-self: left;
  padding-top: 136px;
}

.about_discription {
  grid-area: description;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

.about_paragraf_short {
  padding-right: 4px;
}

.footer {
  padding: 180px 50px 88px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer .menu {
  display: flex;
  flex-direction: column;
}

.footer_menu-item {
  text-align: center;
  list-style: none;
}

.footer_links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 48px;
}

.sm_icon {
  width: 48px;
  height: 48px;
}

.li_link {
  list-style: none;
}
